.bouton-principal {
    font-family: "Roboto", "sans-serif";
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    color:$couleur-blanc;
    border-radius: 5rem;
    border: none;
    padding: 1rem 2rem;
    margin: 2rem 0;
    box-shadow: 0rem 0.2rem 0.5rem 0.1rem $couleur-ombre; /* ombre du bouton  */
    background: $couleur-primaire;
    /* Un dégradé incliné -10degrés,commençant couleur primaire et finissant en couleur secondaire. */
    background: linear-gradient(-10deg, $couleur-primaire 25%, $couleur-secondaire 100%);
    /* Au survol, la couleur de fond du bouton s’éclaircie  légèrement.
    L’ombre portée est plus visible. */
     &:hover {
        @include hover-btn;
    }
  }

