.chargement {
  position:fixed; /* pour créer un élément flottant qui reste à la même position, même lorsqu'on fait défiler la page   */
  width: 100%;
  height: 100%;
  z-index: 10; /*  la couche chargement s'affiche en premier  */
  @include centrer_flex;  
  background-color: $couleur-blanc;
  @each $valeur, $taille, $couleur, $duree
   in zip($liste-couleur-titre, $liste-taille-cercle, $liste-couleur, $liste-duree-cercle)  {
    &__cercle--#{$valeur} {/* pour chaque selecteur cercle concerné  */
      border-radius: 7rem;
      position: absolute; 
      margin:auto;
      border: 0.5rem solid transparent;
      width: $taille; /* largeur cercle différent pour chaque cercle  */
      height: $taille; /* hauteur cercle différent pour chaque cercle  */
      border-top-color: $couleur; /* couleur cercle différent pour chaque cercle  */
      border-bottom-color: $couleur; /* couleur cercle différent pour chaque cercle  */
      animation: tourner $duree linear infinite; /* cercles qui tournent  */
    }
  }
} 
.cacher {
    animation: fin 1s forwards; /* forwards: La cible retiendra les valeurs calculées définies lors de la dernière étape */
    animation-delay: 2s;
  }
  
