.chargement {
    position:fixed;
    width: 100%;
    height: 70%;
    @extend %flex-center;  
    background-color: white;
  
    &__cercle--primaire {
      width: 10vw;
      height: 10vw;  
      border-radius: 10vw;
      border: 1vw solid transparent;
      border-top-color: $couleur-primaire;
      border-bottom-color: $couleur-primaire;  
      animation: tourner 1s linear infinite;  
      position: absolute; 
      margin:auto;
    }  
    &__cercle--secondaire {
      width: 8vw;
      height: 8vw;  
      border-radius: 10vw;
      border: 1vw solid transparent;
      border-top-color: $couleur-secondaire;
      border-bottom-color: $couleur-secondaire;  
      animation: tourner 1.25s linear infinite;  
      position: absolute;
      margin: auto;
    }    
    &__cercle--tertiaire {
       width: 6vw;
      height: 6vw;  
      border-radius: 10vw;
      border: 1vw solid transparent;
      border-top-color: $couleur-tertiaire;
      border-bottom-color: $couleur-tertiaire;  
      animation: tourner 1.5s linear infinite;      
      position: absolute;
      margin: auto;
    }
  }  
  .cacher {
    animation: fin 1s forwards;
    animation-delay: 2s;
  }
  
  