.fonction {
    background-color: $couleur-blanc;
    margin-left: 0.5rem;
    &__buttons {
      counter-reset: steps;
      display: flex;
      gap: 2rem;
      margin: 1.5rem;      
      @media (max-width:992px) {
        flex-direction: column;
      }
    }
    h2{
      margin-left: 0.5rem;
      font-weight: 500;
    }
    h3{
      font-weight: 500;
    }    
  }

  
.fonction__btn {
  display: flex;
  background-color: $couleur-arriere-plan;
  border-radius: 1.5rem;
  flex-grow: 1; /* définit le facteur d'expansion d'un élément flexible selon sa dimension principale  */
  padding: 1.5rem 0;
  width: 100%;
  @include ombre-conteneur;
  &:hover { /* au survole  */
    transition: all 380ms ease-in; /*  la transition commence doucement puis la vitesse augmente jusqu'à ce qu'elle soit terminée  */
    @include bouton-clair; /* couleur plus claire   */
    i {
    color : $couleur-primaire;
    }
  }
  &::before { /*  le premier enfant de l élément cible  */
    counter-increment: steps; /* initialise l'incrémentation  */
    content: counter(steps); /* affiche l'incrémentation   */
    position: relative;
    left: -0.8rem;
    color: #FFF;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $couleur-primaire;
    border-radius: 50%;
    @include centrer_flex;       
  }
  & i { /* icône */
    color: darken($ombre-arrondie, $amount: 10); /* gris plus foncé  */
    padding: 0 1rem;
    font-size: $h1-taille;
  }
}