.fonction {
    background-color: $couleur-blanc;
    margin-left: 0.5rem;
    &__buttons {
      counter-reset: steps;
      display: flex;
      gap: 2rem;
      margin: 1.5rem;      
      cursor: pointer;
        @media (max-width:992px) {
          flex-direction: column;
        }
    }
    h2{
      margin-left: 0.5rem;
      font-weight: 500;
    }
    h3{
      font-weight: 500;
    }    
  }

  
.fonction__btn {
  display: flex;
  align-items: center;
  background-color: $couleur-arriere-plan;
  border-radius: 1.5rem;
  flex-grow: 1;
  padding: 1.5rem 0;
  width: 100%;
  @include ombre-conteneur;
  &:hover {
      transition: all 80ms ease-in;
      @include btn-lighten;
        & > i { /*  couleur icône   */
            transition: all 80ms ease-in; /* la transition commence doucement puis la vitesse augmente jusqu'à ce qu'elle soit terminée.   */
            color:darken($color: $couleur-primaire, $amount: 15);
        }
        @extend %hover-btn; 
      }
    &::before {
      counter-increment: steps;
      content: counter(steps);
      position: relative;
      left: -0.8rem;
      color: #FFF;
      width: 1.5rem;
      height: 1.5rem;
      background-color: #9356DC;
      border-radius: 50%;
      @extend %centrer_flex;
  }
    & i { /* icône */
      color: grey;
      padding: 0 1rem;
      font-size: $h1-taille;
    }
}