/* animation de chargement, cercles qui tournent  */
@keyframes tourner {
  0% { 
    transform: rotate(0deg);
  }
  100% { transform: rotate(360deg);
  }
}

@keyframes fin {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}



/* animation apparaitre menu restaurants */
@keyframes apparaitre{
  0%{opacity: 0}
  20%{opacity: 0.2}
  60%{opacity: 0.6}
  100%{opacity: 1}
}