/* ombre du conteneur   */
@mixin ombre-conteneur {
    box-shadow: $btn-ombre $couleur-ombre;
}
/* couleur plus claire d’un certain montant exprimé en pourcentage  */
@mixin btn-lighten($color:$couleur-primaire) {
    background-color: lighten($color: $couleur-primaire, $amount: 25%)
}
 /* couleur dégradée de 2 couleurs exprimées en pourcentage de l'arrière-plan    */  
@mixin gradient($degree) {
  background: $couleur-primaire;
  background:linear-gradient(($degree), $couleur-primaire 25%, $couleur-secondaire 100%);
}
@mixin btn-nouveau {
  content: 'Nouveau';
  position: absolute;
  padding: 0.5rem;
  font-family: 'Roboto', 'sans-serif';
  font-size: 0.8rem;
  color: darken($couleur-tertiaire, $amount: 50);
  background-color: $couleur-tertiaire;
  top: 1rem;
  right: 1rem;
  border-radius: 0.25rem;
}

@mixin apparaitre-assiette ($listes-assiette,$delais) {
  @each $liste in $liste-assiettes{
    &--#{$liste} {
      opacity: 0;
      animation: apparaitre 0.6s linear $delais+s forwards;           
      $delais : $delais + 1;
    }
  }
}
@mixin boucle_repas($liste-repas) {
  @each $valeur in $liste-repas {
    .repas__#{$valeur} {       
      @extend %conteneur-ligne;
      opacity: 0; 
      @include margin;
      @include pad;
      animation: apparaitre 1.3s linear forwards; 
      &--choix{
        height: 80px;
        @include margin;
        @include pad;
        @extend %choix;
        @media screen and (min-width: $ordinateur){
          width: 30vw;
        }        
      }             
      @if ($valeur == "entree") {             
          @extend %conteneur-ligne;
            @media screen and (max-width: $tablet-smarphone){
              height: 250px; 
            }               
            &--quatrechoix{
              height: 350px; 
              @media screen and (min-width: $ordinateur){
              height: 165px;
              }
            @media screen and (min-width: $ordinateur){
              height: 185px;
              min-height: unset; /* non défini   */
            } 
          }           
        }
      @else{
        height: 250px;
        @media screen and (min-width: $ordinateur){
          height: 85px;
        }          
      }      
    }
  } 
}



/* padding */
@mixin pad {
  padding: 5px 0;
}
/* margin */
@mixin margin {
  margin:0;
}
/* ombre arrondie du conteneur */
@mixin ombre-ok{
  box-shadow: 0px 5px 10px 0px $ombre-arrondie;
}






  