/* ombre du conteneur   */
@mixin ombre-conteneur {
    box-shadow: $btn-ombre $couleur-ombre;
}
/* couleur plus claire d’un certain montant exprimé en pourcentage  */
@mixin bouton-clair($color:$couleur-primaire) {
    background-color: lighten($color: $couleur-primaire, $amount: 25%)
}
 /* couleur dégradée de 2 couleurs exprimées en pourcentage de l'arrière-plan    */  
@mixin gradient($degree) {
  background: $couleur-primaire;
  background:linear-gradient(($degree), $couleur-primaire 25%, $couleur-secondaire 100%);
}
@mixin bouton-nouveau {
  content: 'Nouveau';
  position: absolute;
  padding: 0.5rem;
  font-family: 'Roboto', 'sans-serif';
  font-size: 0.8rem;
  color: darken($couleur-tertiaire, $amount: 50); /* assombri la couleur choisie */
  background-color: $couleur-tertiaire;
  top: 1rem;
  right: 1rem;
  border-radius: 0.25rem;
}

/*  léger décalage dans le temps  */
@mixin apparaitre-assiette ($listes-assiette,$delais) {
  @each $liste in $liste-assiettes{
    &--#{$liste} {
      opacity: 0;
      animation: apparaitre 0.6s linear $delais+s forwards;           
      $delais : $delais + 1;
    }
  }
}
/* les plats apparaissent un par un  */
@mixin boucle_repas($liste-repas) {
  @each $valeur in $liste-repas {
    .repas__#{$valeur} { 
      @media screen and (width>2100px){
        min-height: 250px;
      }      
      @include conteneur-ligne;
      opacity: 0; 
      @include margin;
      @include pad;
      animation: apparaitre 1.3s linear forwards; 
      &--choix{
        height: 80px;
        @include margin;
        @include pad;
        @include choix;
        @media screen and (min-width: $ordinateur){
          width: 30vw;
        }        
      }             
      @if ($valeur == "entree") {             
          @include conteneur-ligne;
             @media screen and (max-width: $tablet-smarphone){
              height: 250px; 
            }               
            &--quatrechoix{
              height: 350px; 
              @media screen and (min-width: $ordinateur){
              height: 165px;
              }
            @media screen and (min-width: $ordinateur){
              height: 185px;
              min-height: unset; /* non défini   */
            } 
          }           
        }
      @else{
        height: 250px;
        @media screen and (min-width: $ordinateur){
          height: 85px;
        }          
      } 
     
    }
  } 
}

@mixin choix{
  width: 93vw;
  height: 68px; 
  display: flex;
 
}
@mixin conteneur-ligne {
  display: flex;
  flex-flow: row wrap;  /* en ligne, passe sur une nouvelle ligne si besoin */ 
  justify-content: space-around;
  align-content:space-around;
  border: none;
}

/* Centrer un objet */
@mixin centrer_flex {
  display:flex;
  justify-content:center;
  align-items:center;
}
 /* Au survol, la couleur de fond du bouton s’éclaircie  légèrement.
    L’ombre portée est plus visible. */
@mixin hover-btn {
  transform: scale(1.05);
  transition: all 80ms ease-in; /* l'animation commence doucement puis la vitesse augmente jusqu'à ce qu'elle soit terminée */
  filter: brightness(1.05); /* applique un multiplicateur linéaire sur une image afin de la rendre plus claire ou plus sombre */
  box-shadow: $couleur-ombre 0.5rem 0.5rem 0.5rem 0.1rem; /* ajoute une ombre au bouton */
}


/* padding */
@mixin pad {
  padding: 5px 0;
}
/* margin */
@mixin margin {
  margin:0;
}
/* ombre arrondie du conteneur */
@mixin ombre-ok{
  box-shadow: 0px 5px 10px 0px $ombre-arrondie;
}






  