footer {
    background-color: #353535;
    color: $couleur-blanc;
    padding: $marge-footer 0 $marge-footer $marge-footer;
   
    & ul {
      margin-top:1rem;
      padding: 0;
      list-style-type: none;
    }
    & li {
      padding: 0.2rem;
    }
    & i 
    {
      padding-right:0.2rem;
    }
    h3{
        font-family:"Shrikhand", 'sans-serif';
        font-size:1.2rem;
      }
    a:hover{
        color: $couleur-primaire;
        
    }
  }
  

/* bloc bem coeur réutilisé */
.coeur{
  @extend %tap-coeur;
  position: absolute;
  right: 10px;
  bottom: 20px;
  &:hover{
      cursor:grab;
  } /* coeur vide */
  &--vide{
      padding: 13px 12.5px 12px 12.8px;
      font-size: 1.48rem; 
  } /* zone apparition du coeur plein */
  &__filtre{
      @extend %tap-coeur;
      position: absolute;
      right: 0px;
      top: 0px;
      /* coeur plein */
      &--plein{
          position: absolute;
          padding: 12px 11px 12px 13px;
          font-size: $fontsize-taille; 
          color: transparent;
          opacity: 0;
          transform-origin: 50% 50%;
          transform: scale(0);  
          background: linear-gradient(200deg, $couleur-primaire 35%, $couleur-secondaire 65%);
          
      }
  }
}
