/* moteur de recherche */
.recherche{
    width: 100%;
    height: 327px;
    position: relative;
    background-color: $couleur-arriere-plan;
    margin: 0px auto;
    text-align: center;
    &--zone{ 
        width: 100%;
        height: 50px;
        display: block;
        margin: 0 auto;
        border: none;
        font-size: $fontsize-taille;
        font-weight: 600;
        box-shadow: inset 0px 2px 3px $couleur-ombre; /* ombre tournée à l'intérieur du conteneur   */
        background-color: rgb(231, 231, 231);
        color: $couleur-police;
        text-align: center;
    }
    &__localisation{         
        position: absolute;
        left: 15%;
        top: 15px;
    }
    &__titre{
        margin: 25px 15% 0 15%;
    } 
    &__texte{
        margin: 15px 10% 0 10%;
        font-size: 1.02rem;
        font-weight: 300;
    }
}
/* formulaire repas */
.repas{
    width: 100%;
    margin: 25px 0 0 0;
    padding: 0;
    background-color: $couleur-arriere-plan;
    /* animation menu s'effectue à vitesse constante, durée 2s  */
    animation: apparaitre 2s linear 0s forwards;
    /* titre zones de repas */
    &__titre{
        height: 30px;
        position: relative;
        padding: 40px 0 0 15px;
        font-size: $fontsize-taille;
        font-weight: 400;
        text-transform:uppercase;
       /* barre des titres */
        &--barre{
            width: 100%;
            max-width: 40px; /* longeur de la barre pour tablette et smartphone  */
            height: 2.5px;
            display: block;
            margin-top: 5px;
            background-color: $couleur-tertiaire;           
            @media screen and (min-width: $ordinateur){
                width: 98%;
                max-width:1700px; /* longeur de la barre pour ordinateur  */                                     
            }
        }    
   
    
    } 
    .bouton-principal{ /* centre le bouton commander   */
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }  
}

/* boucle each permettant de gérer l'apparition des plat : positionnements    */
@include boucle_repas($liste-repas);



/* zone chaque assiette */
.assiette{
    width: 100%;
    height: 68px; 
    display: flex;
    justify-content:stretch;/* Les éléments sont répartis équitablement et
    les éléments dimensionnés avec 'auto' sont étirés afin de remplir le conteneur */
    border-radius: 20px;
    @include ombre-ok; /* ombre arrondie du conteneur */
    background-color: $couleur-blanc;
    overflow: hidden;   /* ne pas voir le dépassement  */ 
    /* délais d'apparitions des assiettes un par un par  colonne  */
    @include apparaitre-assiette($liste-assiettes,$delais); 
    
    &__texte{
        min-width: 60%;
        display: flex;
        flex-flow: row wrap; /* Les éléments flexibles sont disposés sur une seule ligne  */
        justify-content: flex-start; /* Éléments flexibles groupés au début */
        text-indent: 10px; /* définit la longueur qui doit être laissée avant le début de la première ligne d'un élément contenant du texte   */
        flex: 1;
        /* texte menu */
        &__menu{
            width: 100%;
            margin: -10px 0 0 0;
            font-size: 0.9rem;
            font-weight: 300;
            white-space: nowrap;/* Les séries de blancs sont regroupées et le passage à la ligne est supprimée  */
            text-overflow: ellipsis; /* affiche une ellipsis pour afficher le texte rogné  */
            overflow: hidden;   
            &:first-of-type{ /* cibler le premier élément  */
                height: 24px;
                margin: 12px 0 0 0;
                font-size: $fontsize-menu;
                font-weight: 500;
            }
        }
    } /* prix de l'assiette */
    &__prix{
        width: 45px;
        padding-left: 0px;
        margin: 36px 3px 0 3px;
        font-size: 0.9rem;
        font-weight: 500;
        text-align: center;
        transition: all 0.4s linear;
    } /* validation */
    &--valide{ 
        width: 0px;
        min-width: 0px;
        height: 68px;
        @include centrer_flex;
        flex: 0;
        position:relative;
        background-color: lighten($couleur-tertiaire, 10%); /* couleur plus claire  */
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: all 0.4s linear;
        &--icone{ /* icone selection choix effectuée  */
            position: absolute;
            left: 20px;
            margin: 24px 0 24px 0;
            font-size: 1.5rem;
            color: $couleur-police-claire;
        }
    }
    &:hover > .assiette--valide{
        min-width: 60px;  
    }   
}

/* selection choix assiette */
.selection{
    display: none; /* L'élément ne produit pas de boîte qui lui soit spécifique */
    &:checked + .assiette .assiette--valide{
        min-width: 60px;
        background-color: $couleur-tertiaire;
    }
    &:not(:checked) + .assiette .assiette--valide{
        min-width: 0px;
        background-color: $couleur-tertiaire;
    }
    &:checked + .assiette .assiette--valide--icone{
        animation: tourner 1.4s linear forwards; /* icone qui tourne */ 
    }    
}


