// en-tête //
.entete {
    margin: 0;
    position: relative;
    background-color: $couleur_blanc;    
    &__logo {
      @include centrer_flex;
      margin: 0;
      padding:$marge_section;
      box-shadow: 0vw 0vw 0.5vw $couleur-ombre; /* ajout une ombre */
      & img {
        width: 190px;
      }
    } 
    &__fleche {
      position: absolute; /* pour postionner la flèche selon parmètres  */
      left: 2rem;
      top:1.4rem;
      font-size: 1.2rem;
      &:hover{
        color: $couleur-primaire;
      }
    }   
  }


  