.arriere-plan__img {
    width: 100%;
    height: 20rem;
    object-fit: cover; /*Le contenu remplacé est dimensionné pour maintenir son ratio
     d'affichage tout en remplissant toute la boîte de contenu   */   
  }
  .menu {
    position: relative; /* pour décaler le conteneur sur l'image  */
    margin-top:-5rem;  /* décaler le conteneur sur l'image */
    border-radius: 2rem 2rem 0 0; /* bordure arrondi du cadre  */
    background-color: $couleur-arriere-plan;  
    font-size: $h1-taille;
    &__header {
      padding: 1rem 2rem 2rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
    h4 {
      font-size: $h1-taille;
      font-family: 'Shrikhand','sans-serif';
    } 
}
